@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1 {
    font-size: 60px;
}

.mudanca-da-cor {
    background-color: pink;
}

.tamamho-relativo {
    width: 300%;
    height: 60vh;
}

.tamanho-fixo {
    width: 500px;
    height: 450px;
}

html {
    font-family: "Roboto", sans-serif;
}

span {
    font-weight: bold;
    color: red;
    background-color: aqua;
}